# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\可复用代码\软件测试自动化\2005050206 陈国威  2005050202陶文玉 2003030208周禹康  2005050204赖香兰\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
